name: LSPD Hours Bot 24/7

on:
  schedule:
    - cron: '*/5 * * * *'     # co 5 minut
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Ustaw Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: npm start
